<template>
    <el-select
        placeholder="Selecione o formacoes"
        v-model="formacao"
        multiple
    >
        <el-option
            v-for="item in formacoesCombo"
            :key="item.Id"
            :label="item.formacao"
            :value="item.id"
        ></el-option>
    </el-select>
</template>

<script>
import FormacaoMixin from '../../../../mixin/formacao';

export default {
    name: 'Formacao',

    mixins: [
        FormacaoMixin,
    ],

    props: {
        value: {
            required: true,
            default: 0,
        },
    },

    computed: {
        formacao: {
            get() {
                return this.value === 0 ? '' : this.value;
            },
            set(newValue) {
                this.$emit('input', newValue);
            },
        },
    },
};
</script>
