<template>
    <el-select
        placeholder="Selecione o habilidades"
        v-model="habilidade"
        multiple
    >
        <el-option
            v-for="hab in habilidadesCombo"
            :key="hab.Id"
            :label="hab.nome"
            :value="hab.id"
        ></el-option>
    </el-select>
</template>

<script>
import HabilidadeMixin from '../../../../mixin/habilidade';

export default {
    name: 'Habilidade',

    mixins: [
        HabilidadeMixin,
    ],

    props: {
        value: {
            required: true,
            default: 0,
        },
    },

    computed: {
        habilidade: {
            get() {
                return this.value === 0 ? '' : this.value;
            },
            set(newValue) {
                this.$emit('input', newValue);
            },
        },
    },
};
</script>
