<template>
    <el-select
        placeholder="Selecione o cerficacoes"
        v-model="certificacao"
        multiple
    >
        <el-option
            v-for="hab in combo"
            :key="hab.Id"
            :label="hab.Titulo"
            :value="hab.Id"
        ></el-option>
    </el-select>
</template>

<script>
import CertificacaoMixin from '../../../../mixin/certificacao';

export default {
    name: 'Certificacao',

    mixins: [
        CertificacaoMixin,
    ],

    props: {
        value: {
            required: true,
            default: 0,
        },
    },

    computed: {
        certificacao: {
            get() {
                return this.value === 0 ? '' : this.value;
            },
            set(newValue) {
                this.$emit('input', newValue);
            },
        },
    },

    data() {
        return {
            combo: [
                {Id: 1, Titulo: 'LPI1'},
                {Id: 2, Titulo: 'ORACLE'},
                {Id: 3, Titulo: 'JAVA CERTIFICATION'},
            ],
        }
    },
};
</script>
