<template>
    <el-select
        placeholder="Selecione o projetos"
        v-model="projeto"
        multiple
    >
        <el-option
            v-for="item in projetosCombo"
            :key="item.Id"
            :label="item.nome"
            :value="item.id"
        ></el-option>
    </el-select>
</template>

<script>
import ProjetoMixin from '../../../../mixin/projeto';

export default {
    name: 'Projeto',

    mixins: [
        ProjetoMixin,
    ],

    props: {
        value: {
            required: true,
            default: 0,
        },
    },

    computed: {
        projeto: {
            get() {
                return this.value === 0 ? '' : this.value;
            },
            set(newValue) {
                this.$emit('input', newValue);
            },
        },
    },
};
</script>
