<template>
    <el-select
        placeholder="Selecione o empresas"
        v-model="empresa"
        multiple
    >
        <el-option
            v-for="item in empresasCombo"
            :key="item.Id"
            :label="item.nome"
            :value="item.id"
        ></el-option>
    </el-select>
</template>

<script>
import EmpresaMixin from '../../../../mixin/empresa';

export default {
    name: 'Empresa',

    mixins: [
        EmpresaMixin,
    ],

    props: {
        value: {
            required: true,
            default: 0,
        },
    },

    computed: {
        empresa: {
            get() {
                return this.value === 0 ? '' : this.value;
            },
            set(newValue) {
                this.$emit('input', newValue);
            },
        },
    },
};
</script>
