<template>
    <el-select
        placeholder="Selecione o cargos"
        v-model="cargo"
        multiple
    >
        <el-option
            v-for="item in cargosCombo"
            :key="item.Id"
            :label="item.nome"
            :value="item.id"
        ></el-option>
    </el-select>
</template>

<script>
import CargoMixin from '../../../../mixin/cargo';

export default {
    name: 'Cargo',

    mixins: [
        CargoMixin,
    ],

    props: {
        value: {
            required: true,
            default: 0,
        },
    },

    computed: {
        cargo: {
            get() {
                return this.value === 0 ? '' : this.value;
            },
            set(newValue) {
                this.$emit('input', newValue);
            },
        },
    },
};
</script>
