<template>
    <section class="section section-shaped section-lg my-0">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <card type="secondary" shadow
                          header-classes="bg-white pb-5"
                          body-classes="px-lg-6 py-lg-6"
                          class="border-0">
                        <template>
                            <div class="text-center text-muted mb-12">
                                <span class="title-logo">Gestão de Talentos</span>
                            </div>
                            <div class="text-center text-muted mb-3">
                                <span>Procure um perfil adequado para sua vaga!</span>
                            </div>
                            <form>
                                <div class="row mb-2">
                                    <div class="col-4">
                                        <span>Nome: </span>
                                    </div>
                                    <div class="col-6">
                                        <el-input placeholder="Nome" v-model="filterData.Nome"></el-input>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-4">
                                        <span>Habilidades: </span>
                                    </div>
                                    <div class="col-8">
                                        <habilidade
                                            name="habilidades"
                                            v-model="filterData.habilidades"
                                        >
                                        </habilidade>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-4">
                                        <span>Certificações: </span>
                                    </div>
                                    <div class="col-8">
                                        <certificao
                                            name="certificaoes"
                                            v-model="filterData.certificaoes"
                                        >
                                        </certificao>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-4">
                                        <span>Empresas: </span>
                                    </div>
                                    <div class="col-8">
                                        <empresa
                                            name="empresas"
                                            v-model="filterData.empresas"
                                        >
                                        </empresa>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-4">
                                        <span>Cargos: </span>
                                    </div>
                                    <div class="col-8">
                                        <cargo
                                            name="cargos"
                                            v-model="filterData.cargos"
                                        >
                                        </cargo>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-4">
                                        <span>Projetos: </span>
                                    </div>
                                    <div class="col-8">
                                        <projeto
                                            name="projetos"
                                            v-model="filterData.projetos"
                                        >
                                        </projeto>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-4">
                                        <span>Interesses: </span>
                                    </div>
                                    <div class="col-8">
                                        <interesse
                                            name="interesses"
                                            v-model="filterData.interesses"
                                        >
                                        </interesse>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-4">
                                        <span>Formações: </span>
                                    </div>
                                    <div class="col-8">
                                        <formacao
                                            name="formacoes"
                                            v-model="filterData.formacoes"
                                        >
                                        </formacao>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <base-button type="primary" class="my-4" @click="filterDatas">Pesquisar</base-button>
                                </div>
                            </form>
                        </template>
                    </card>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import Habilidade from "../components/global/form/habilidade/Index";
import Certificao from "../components/global/form/certificacao/Index";
import Empresa from "../components/global/form/empresa/Index";
import Cargo from "../components/global/form/cargo/Index";
import Projeto from "../components/global/form/projeto/Index";
import Interesse from "../components/global/form/interesse/Index";
import Formacao from "../components/global/form/formacao/Index";
import FilterMixin from "../mixin/filter";
import HabilidadeMixin from "../mixin/habilidade";
import EmpresaMixin from "../mixin/empresa";
import CertificacaoMixin from "../mixin/certificacao";
import CargoMixin from "../mixin/cargo";
import FormacaoMixin from "../mixin/formacao";
import InteresseMixin from "../mixin/interesse";
import ProjetoMixin from "../mixin/projeto";

export default {
    name: "Filter",

    components: {
        Habilidade,
        Certificao,
        Empresa,
        Cargo,
        Projeto,
        Interesse,
        Formacao,
    },

    mixins: [
        FilterMixin,
        HabilidadeMixin,
        EmpresaMixin,
        CertificacaoMixin,
        CargoMixin,
        FormacaoMixin,
        InteresseMixin,
        ProjetoMixin,
    ],

    methods: {
        async filterDatas() {
            await this.getAll();
            this.$router.push({ name: "listProfiles" });
        },

        async init() {
            this.getAllHabilidades();
            this.getAllCargos();
            this.getAllEmpresas();
            this.getAllFormacoes();
            this.getAllProjetos();
        },
    },

    async created() {
        await this.init();
    },

};
</script>
<style lang="scss" scoped>
.title-logo {
    font-family: "Courier New", Courier, monospace;
    font-size: 35px;
    margin-bottom: 20px;
}
</style>
