<template>
    <section class="section section-shaped section-lg my-0">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <card type="secondary" shadow
                          header-classes="bg-white pb-5"
                          body-classes="px-lg-12 py-lg-12"
                          class="border-6">
                        <template>
                            <div class="text-center text-muted mb-12">
                                <div
                                    v-if="hasProfiles"
                                    class="row"
                                    v-for="(people, index) in filteredPeople"
                                    v-bind:key="index"
                                >
                                    <div class="col-2">
                                        <img v-lazy="'img/theme/team-1-800x800.jpg'"
                                            class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                                            style="width: 100px;">
                                    </div>
                                    <div class="col-6">
                                        <div class="pt-4 text-left">
                                            <h5 class="title">
                                                <span class="d-block mb-1">
                                                    <router-link :to="{ name : 'profile', params: { id: people.$id }}">
                                                       {{ people.pessoaNome }}
                                                    </router-link>
                                                </span>
                                                <small class="h6 text-muted">{{ people.cargoNome }}</small>
                                                <p>
                                                    <small><em>{{ people.pessoaNacionalidade }}</em></small>
                                                </p>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="mt-3">
                                            <base-button tag="a" href="#" type="primary" icon="ni ni-chat-round" rounded
                                                        icon-only class="btn-warning"></base-button>
                                            <base-button tag="a" href="#" type="primary" icon="fa fa-twitter" rounded
                                                 icon-only class="btn-info"></base-button>
                                            <base-button tag="a" href="#" type="primary" icon="fa fa-facebook" rounded
                                                        icon-only></base-button>
                                        </div>
                                    </div>
                                </div>

                                <span v-else>Não existe perfis para ser exibidos!</span>
                            </div>
                        </template>
                    </card>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import FilterMixin from '../mixin/filter';

export default {
    name: 'ListProfiles',

    mixins: [
        FilterMixin
    ],

    computed: {
        hasProfiles() {
            return this.filteredPeople && this.filteredPeople.length > 0;
        }
    }

};
</script>
<style>
.title-logo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
</style>
