<template>
    <div class="profile-page">
        <section class="section-profile-cover section-shaped my-0">
            <div class="shape shape-style-1 shape-primary shape-skew alpha-4">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </section>
        <section class="section section-skew">
            <div class="container">
                <card shadow class="card-profile mt--300" no-body>
                    <div class="px-4">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <a href="#">
                                        <img v-lazy="'img/theme/team-1-800x800.jpg'" class="rounded-circle">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                                <div class="card-profile-actions py-4 mt-lg-0">
                                    <base-button type="info" size="sm" class="mr-4">Messagem</base-button>
                                    <base-button type="default" size="sm" class="float-right">Linkedin</base-button>
                                </div>
                            </div>
                            <div class="col-lg-4 order-lg-1">
                                <div class="card-profile-stats d-flex justify-content-center">
                                    <div>
                                        <span class="heading">-</span>
                                        <span class="description">--</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-5">
                            <h3>
                                {{ profile.nome + ' ' + profile.sobreNome }}
                            </h3>
                            <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>{{ profile.naturalidade + ', ' + profile.nacionalidade }}</div>
                            <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>{{ profile.cargoAtual[0] }} </div>
                            <div><i class="ni education_hat mr-2"></i>{{ profile.Formacao }}</div>
                        </div>

                        <div class="mt-5 py-5 border-top text-center">
                            <div class="row justify-content-center">
                                <div class="col-lg-9">
                                    <p>
                                        {{ profile.apresentacao }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5 py-5 border-top">
                            <h5>
                                Empresas
                            </h5>
                            <div class="row" v-for="empresa in profile.empresa[0]" v-bind:key="empresa.id">
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-sm-1">
                                        </div>
                                        <div class="col-lg-9">
                                            <p class="h6 mt-4">
                                                {{ empresa.nome }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                </div>
                                                <div class="col">
                                                    <small><em>{{ formatDate(empresa.dataInicio) + ' - ' + formatDate(empresa.dataFim) }}</em></small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-2">
                                                </div>
                                                <div class="col">
                                                    <blockquote class="blockquote">
                                                        <p class="mb-0">{{ empresa.descricao }}</p>
                                                    </blockquote>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-2">
                                                </div>
                                                <div class="col">
                                                    <base-button type="default" size="sm">JAVA</base-button>
                                                    <base-button type="default" size="sm">PYTHON</base-button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5 py-5 border-top">
                            <h5>
                                Formações
                            </h5>
                            <div class="row">
                                <div class="col-sm-1">
                                </div>
                                <div class="col" 
                                    v-for="formacao in profile.formacoes" 
                                    v-bind:key="formacao.id"
                                >
                                    <span class="mt-4">{{ formacao.formacao }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5 py-5 border-top">
                            <h5>
                                Certificação
                            </h5>
                            <div class="row">
                                <div class="col-sm-1">
                                </div>
                                <div class="col" v-for="certificacao in profile.certificacacoes" v-bind:key="certificacao.id">
                                    <span>{{ certificacao.titulo }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5 py-5 border-top">
                            <h5>
                                Cargos
                            </h5>
                            <div class="row">
                                <div class="col-sm-1">
                                </div>
                                <div class="col" 
                                    v-for="cargo in profile.cargos" 
                                    v-bind:key="cargo.id"
                                >
                                    <span>{{ cargo.titulo }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5 py-5 border-top">
                            <h5>
                                Habilidades
                            </h5>
                            <div class="row">
                                <div class="col-sm-1">
                                </div>
                                <div class="col" 
                                    v-for="habilidade in Habilidades" 
                                    v-bind:key="habilidade.Id"
                                >
                                    <span>{{ habilidade.Nome }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5 py-5 border-top">
                            <h5>
                                Interesses
                            </h5>
                            <div class="row">
                                <div class="col-sm-1">
                                </div>
                                <div class="col" 
                                    v-for="interesse in Interesse" 
                                    v-bind:key="interesse.Id"
                                >
                                    <span>{{ interesse.Nome }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5 py-5 border-top">
                            <h5>
                                Feedback
                            </h5>
                            <div class="row" v-for="projeto in projetos" v-bind:key="projeto.id">
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-sm-1">
                                        </div>
                                        <div class="col-lg-9">
                                            <p class="h6 mt-4">
                                                {{ projeto.nome }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                </div>
                                                <div class="col">
                                                    <small><em>{{ projeto.responsavel }}</em></small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-2">
                                                </div>
                                                <div class="col">
                                                    <blockquote class="blockquote">
                                                        <p class="mb-0">{{ projeto.descricao }}</p>
                                                    </blockquote>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </card>
            </div>
        </section>
    </div>
</template>
<script>
import PessoaMixin from '../mixin/pessoa';
import { isArray as _isArray } from 'lodash';
import moment from 'moment';

export default {
    name: 'Profile',

    mixins: [
        PessoaMixin,
    ],
    
    data() {
        return {
            profile: {},
            Habilidades: [
                { Id: 1, Nome: 'Javascript' },
                { Id: 2, Nome: 'PHP' },
                { Id: 3, Nome: 'CSS' },
                { Id: 4, Nome: 'HTML' },
            ],
            Interesse: [
                { Id: 3, Nome: 'Python' },
                { Id: 4, Nome: 'Back-end' },
                { Id: 1, Nome: 'Eng. Soft' },
            ],
            projetos: [
                {id: 1, nome: 'Gmail' , responsavel: 'Luiz Fernandes', descricao: 'Muito empenhado, trabalha muito bem' },
                {id: 2, nome: 'Google Drive' , responsavel: 'Joao fernandes', descricao: 'Fez um otimo trabalho.' },
                {id: 3, nome: 'Database' , responsavel: 'Joaquim da Silva', descricao: 'Muito dedicado' },
            ]
        }
    },

    methods: {
        async formatData() {
            if (_isArray(this.pessoaData) && this.pessoaData.length > 0) {
                this.profile = this.pessoaData[0];
            }
        },

        formatDate(date) {
            console.log(date);
            if (date == null) {
                return '20/03/2019';
            }
            return moment(date).format('DD/MM/YYYY');
        }
    },

    async created() {
        const idPessoa = this.$route.params.id;
        if (idPessoa && idPessoa > 0) {
            await this.getById(idPessoa);
            await this.formatData();
        }
    },
};
</script>
<style>
</style>
