<template>
    <el-select
        placeholder="Selecione o interesses"
        v-model="interesse"
        multiple
    >
        <el-option
            v-for="item in combo"
            :key="item.Id"
            :label="item.Nome"
            :value="item.Id"
        ></el-option>
    </el-select>
</template>

<script>
import InteresseMixin from '../../../../mixin/interesse';

export default {
    name: 'Interesse',

    mixins: [
        InteresseMixin,
    ],

    props: {
        value: {
            required: true,
            default: 0,
        },
    },

    computed: {
        interesse: {
            get() {
                return this.value === 0 ? '' : this.value;
            },
            set(newValue) {
                this.$emit('input', newValue);
            },
        },
    },

    data() {
        return {
            combo: [
                {Id: 1, Nome: 'JAVA'},
                {Id: 2, Nome: 'PHP'},
                {Id: 3, Nome: 'NODEJS'},
                {Id: 4, Nome: 'MYSQL'},
                {Id: 5, Nome: 'ORACLE'},
            ],
        }
    },
};
</script>
